body {
    background-color: orange;
}

h3 {
    color: blue;
}

body {
    background-image: url("tuv.jpg");
}

.section {
    position: relative;
    left: 400px;
    top: 300px;
    color: white;
}

.flex {
    position: relative;
    left: 400px;
    top: 100px;
}