* {
    font-family: "ORF ON", Arial, Helvetica, Lucida, Sans Unicode, Lucida Grande, sans-serif;
    font-feature-settings: "liga", "kern";
    font-size: 20px;
    --font-size-very-big: 2.5rem;
    --font-size-big: 1.5rem;
    --font-size-normal: 1rem;
    --font-size-low: 0.8rem;
}

.Menu {
    background-color: red;
    font-size: var(--font-size-low);
    justify-content: space-around;
    display: flex;
    font-weight: var(--font-size-big);
    color: white;
    font-family: Arial;
}

.Logo {
    width: 40%;
}

.overview {
    background-color: darkred;
    font-size: var(--font-size-normal);
    display: flex;
    justify-content: space-around;
    color: white;
}

.header {
    background-color: white;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 100px;
    width: 700px;
    padding: 30px;
}

.bild {
    height: 500px;
    background-image: url('orf_b1.jpg');
}

.header2 h1 {
    color: grey;
    font-size: var(--font-size-normal);
    font-weight: lighter;
}

h2 {
    font-size: var(--font-size-big);
}

.article {
    display: flex;
    justify-content: center;
    height: 700px;
    background-color: white;
}

p {
    font-size: var(--font-size-low);
    font-weight: bold;
}

.wrapper {
    width: 1500px;
}